.services-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.services-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 75%;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  border-color: #f5f5f5;
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 39.00%,rgb(231, 243, 255) 100.00%);
}
.services-image {
  width: 524px;
  object-fit: cover;
}
.services-container1 {
  width: 100%;
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.services-text {
  font-size: 3rem;
}
.services-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.services-navlink {
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.services-navlink:hover {
  transform: scale(1.02);
}
@media(max-width: 1200px) {
  .services-hero {
    background-image: linear-gradient(90deg, rgb(255, 255, 255) 39.00%,rgb(231, 243, 255) 100.00%);
  }
}
@media(max-width: 991px) {
  .services-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .services-image {
    order: 2;
  }
  .services-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .services-text {
    text-align: center;
  }
  .services-text1 {
    text-align: center;
  }
  .services-text2 {
    text-align: center;
  }
  .services-text3 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .services-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-image {
    width: 80%;
  }
}
@media(max-width: 450px) {
  .services-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .services-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .services-btn-group {
    flex-direction: column;
  }
  .services-navlink {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
